.app { 
  min-height: 100vh; /* 100% of viewport height */
  background-color:hsl(212, 45%, 89%) ;
}
  
main{
  min-height: 100vh; /* 100% of viewport height */
  padding: 2.5rem 0;
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
}

.attribution-container{
  position:relative;
}

.attribution {
  font-size: .938rem;
  position: absolute;
  bottom: 0.7rem;
  left: 50%;
  transform: translate(-50%,0);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}